dhtml
{
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    font-size: 16pxS;
}

body
{
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    font-size: 16px;
    background-color: #d9dadb;
    margin: 0px;
    padding: 0px;

}

h1
{
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 34px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2
{
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3
{
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

ul
{
    list-style: none;
    text-align: left;
    line-height: 30px;
    padding: 0px;
    
}

label
{
    font-size: 16px;
    margin-top: 5px;
    display:inline-block;
}

fieldset
{
    padding: 20px;
    border-style: solid;
    border-width: 1px;
    margin-top: 30px;
}

button
{
    float: right;
    width: 130px;
    height: 40px;
    font-size: 16px;
}

legend
{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 18px;
}

textarea
{
    display: block;
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}

input[type=radio]
{
    width: 20px;
    height: 20px;
}

input[type=checkbox]
{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

select
{
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
    width:300px;
    height: 30px;
    float:right;
    font-size: 16px;
    padding-left: 10px;
}

input
{
    border-style: solid;
    border-width: 1px;
    border-color: #c9c9c9;
}



/*--- General Page structure ------*/

.background-gradient
{
    width: 100%;
    height:600px;
    background: linear-gradient(#9ecffd, #d9dadb);
    position: absolute;
    z-index: -1;
    top: 0px;
}

.banner-container
{
    width: 1078px;
    height: 120px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;   
}

.bigw-logo-container
{ 
    height: 120px;
    float:left;   
}

.pcs-logo-container
{
    margin-top: 72px;
    float: left;
    padding-right: 10px;
    margin-left: 20px;
    padding-bottom: 3px;
}

.page-heading-container
{
    width: 1070px;
    overflow: auto;
    background-color: #355ca7;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "ff-din", Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: white;
    text-align: center;
    box-shadow: -1px 0 4px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
}

#body-container
{
    width: 990px;
    overflow: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: -1px 0 4px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
    /*border-width: 1px;
    border-style: solid;*/
}

#logo-container
{
    background-color: #9ecffd; 
    width:880px;
    height: 150px;
    background-image: url(../Images/bigw-logo-title.jpg);
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.pcs-heading
{
    text-align: right;
    padding-top: 63px;
}

.input-text-fifty
{
    width: 300px;
    height: 30px;
    float: right;
    font-size: 16px;
    padding-left: 10px;
    
}

.input-text-full
{
    width: 785px;
    height: 30px;
    float: right;
    font-size: 16px;
    padding-left: 10px;
    
}

.input-wrapper
{
    overflow: auto;
    margin-bottom: 20px;
    
}

.input-wrapper-last
{
    overflow: auto;
    
}

.left-wrapper
{
    float: left;
    width: 460px;
    overflow: auto;
}

.right-wrapper
{
    float: right;
    width: 460px;
    overflow: auto;
}

.line
{
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
    border-top-color: #b8b9b8;
    margin-bottom: 20px;
}

.results-container
{
    border-style: solid;
    border-width: 1px;
    border-color: #b8b9b8;
    padding: 10px;
    margin-top:5px;
}


.warning-confirm-button
{
    width: 120px;
    height: 40px;
    font-size: 16pt;
}

.warning-confirm-button-container
{
    width: 120px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.warning-confirm-container
{
    display: none;
    width: auto;
    height: auto;
    padding: 25px;
    position: fixed;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    border-style: solid;
    border-width: 1px;
}

.warning-heading-type
{
    font-size: 28pt;
    font-weight: 600;
    color: #255699;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.warning-heading-message
{
    width: 420px;
    font-size: 18pt;
    font-weight: 600;
    color: #255699;
    padding: 0px;
    margin: 0px;
}

.warning-heading-container
{
    height: auto;
    padding-bottom: 30px;
}

.warning-screen-cover
{
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    position: fixed;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    bottom:0;
    top:0;
    left:0;
    right:0
}


/*---Customer Claim Page ------*/

#customerclaim-error-container
{
    display: none;
    margin-top: 30px;
    padding: 20px;
    background-color: #ffaeb0;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: red;
}

.error-heading
{
    font-size: 18pt;
    font-weight: 600;
    margin: 0px;
    padding: 0;
    padding-bottom: 10px;
}

.error-list
{
    font-size: 12pt;
    font-weight: 600;
    margin: 0px;
    padding: 5px;
}

#yes-verdict-container
{
    margin-top: 30px;
    padding: 20px;
    background-color: #ddffdd;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #05c75d;
    
}


#orange-verdict-container
{
    margin-top: 30px;
    padding: 20px;
    background-color: #ffbe63;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #fc9403;
}

#no-verdict-container
{
    margin-top: 30px;
    padding: 20px;
    background-color: #ffaeb0;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: red;
}

.more-details-label
{
    font-weight: 600;
    padding-right: 10px;
}

.more-details-heading
{
    font-weight: 600;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 30px;
    
}

.warranty-radio
{
    margin-left: 110px;
    margin-right: 10px;
}

#fault-textarea
{
    width:100%;
    height: 200px;
    font-size: 16px;
}

#quantity-input
{
    margin-left: 50px;
    width: 100px;
    float:none;
}

/*--- New/Modify Claim page ------*/

#claimdetails-claimreason-textarea
{
    width:83%;
    height: 70px;
    font-size: 16px;
    margin-top: 5px;
    float: right;
}

.claimdetails-repairagent-button
{
    margin-left: 15px;
    width: 130px;
    height: 30px;
    font-size: 15px;
    margin-bottom: 0;

}

#claimdetails-repairagent-line
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#claimdetails-insertline
{
    padding-bottom: 10px;
}

.claimdetails-removebutton-individual
{
    font-size: 12pt;
    height: 25px;
    width: 90px;
    margin: 0px;
}

.claimdetails-product-container
{
    overflow: auto;
    margin-bottom: 20px;
    cursor: pointer;
    
}

#claimdetails-productcontainer-noproduct
{
    overflow: auto;
    margin-bottom: 20px;
    font-weight: 600;
    color: red;
    text-align: center;
    padding-top: 10px;
    
}

.claim-link
{
    color: black;
}

.product-details-buttons
{
    margin-left: 15px;
}


.quantity-container
{
    width: 80px;
    padding-left: 5px;
    float:left;
    font-weight: 600;
  
}

.keycode-container
{
    width: 100px;
    padding-left: 5px;
    float:left;
    font-weight: 600;
}

.model-container
{
    width: 200px;
    padding-left: 5px;
    float:left;
    font-weight: 600;
}

.product-description-container
{
    width: 380px;
    padding-left: 5px;
    float:left;
    font-weight: 600;
    
}


/*--- View claims page ------*/


#notfound-claimlist
{
    font-weight: 500;
    font-size: 16pt;
    color: red;
    width: 922px;
    text-align: center;
    padding-top: 30px;
}

#yes-pending-container
{
    margin-top: 30px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fab555;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: #fc9403;
    
}

#no-pending-container
{
    margin-top: 30px;
    padding: 0px;
    background-color: #fab555;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: #b8b9b8;
    
}

.claim-status-container
{
    padding-left: 5px;
    float:left;
}

.claim-number-container
{
    width: 100px;
    padding-left: 5px;
    float:left;
    margin-top: 5px;
}

.claim-type-container
{
    width: 200px;
    padding-left: 5px;
    float:left;
    margin-top: 5px;
}

.supplier-customer-container
{
    width: 280px;
    padding-left: 5px;
    float:left;
    margin-top: 5px;
}

.date-container
{
    width: 100px;
    padding-left: 5px;
    float:left;
    margin-top: 5px;
}

.claim-status-heading-container
{
    padding-left: 5px;
    float:left;
    margin-top: 5px;
}

.claim-status-select
{
    width: 210px;
    padding-left: 10px;
}

/*--- main menu page ------*/

.main-menu-button
{
    width: 200px;
    float: none;
    margin-bottom: 20px;
}

.main-menu-container
{
    width: 200px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto; 
}


/*--- Login page ------*/

#login-error-container
{
    margin-top: 30px;
    padding: 20px;
    background-color: #ffaeb0;
    text-align: center;
    border-left-style: solid;
    border-left-width: 5px;
    border-color: red;
}

.login-container
{
    width:400px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

.login-input
{
    width: 200px;
    height: 30px;
    font-size: 16px;
    margin-left: 10px;
    float:right;
    
}

#printform-topmenu-bar{
    width: 100%;
    height: 5vh;
    overflow: auto;
    position: fixed;
    background-color: #355ca7;
    color: white;
}

.table-testdata{
    margin-right: auto;
    margin-left: auto;
}

tr{
    font-size: 16px;
    background-color: lightgray;
    height: 30px;
}

.help-table-claimtype{
    width:200px;
    padding-left: 10px;
}

.help-table-keycode{
    width:120px;
    padding-left: 10px;
    text-align: center;
}

.help-table-transactionID{
    width:160px;
    padding-left: 10px;
    text-align: center;
}

.help-table-description{
    width:350px;
    padding-left: 10px;
    text-align: center;
}



